{% extends "final-admin-layout.html" %}

{% block head %}
<!-- Custom styles for all-items page -->
<link href="{{url_for ('static' , filename= 'vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All library items</h1>
    <p class="mb-4">This page shows all library entries currently in the system.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Library items</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Title</th>
                            <th>Tags</th>
                            <th>Implied tags</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Picture</th>
                            <th>Title</th>
                            <th>Tags</th>
                            <th>Implied tags</th>
                            <th>Details</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <img class="img-thumbnail mx-auto d-block" src="{{ item_images[item.id] }}" style="width: 50px;" alt="Placeholder image">
                            </td>

                            <td>
                                <a
                                    href="{{ url_for('edit_item', item_id = item.id) }}">{{ item_names[item.id] }}</a>
                            </td>

                            <td>
                                {% for tag in item['tags'] %}
                                {% for found_tag in tags_collection.find( {"_id": tag.tag_id} ) %}
                                <span class="badge badge-pill badge-success ">{{ found_tag['name'] }}</span>
                                {% endfor %}
                                {% endfor %}
                            </td>

                            <td>
                                {% for tag in item['implied_tags'] %}
                                {% for found_tag in tags_collection.find( {"_id": tag.tag_id} ) %}
                                <span class="badge badge-pill badge-info ">{{ found_tag['name'] }}</span>
                                {% endfor %}
                                {% endfor %}
                            </td>

                            <td><a href="{{ url_for('edit_item', item_id = item.id) }}">Edit</a>
                                <a>/</a>
                                <a href="{{ url_for('lib_delete', item_id = item.id) }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('create_item')}}" class="btn btn-primary btn-user btn-block">
                Create an item
            </a></div>
    </div>
</div>




{% endblock %}