{% extends "admin-layout.html" %}

{% block body %}
<p>
    {{ instance['_id'] }}
</p>

<h5>UUID</h5>
<br>
<p>{{ instance['attributes']['uuid'] }}</p>
<hr>
<h5>Damage Report</h5>
<br>
<p>{{ instance['attributes']['Damage Report'] }}</p>

<hr>
<h5>Tags</h5>
<br>
{% for tag in instance['tags'] %}
<p>{{ tags_collection.find( {"_id": tag['tag_id']} )[0]['name'] }}</p>
{% endfor %}

<hr>
<h5>Implied Tags</h5>
<br>
{% for tag in instance['implied_tags'] %}
<p>{{ tags_collection.find( {"_id": tag['tag_id']} )[0]['name'] }} </p>
{% endfor %}

{% endblock %}
