{% extends "admin-layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}


<div class="row">
    <div class="col-sm-4 mt-4">
        <img class="img-thumbnail mx-auto d-block" src="games-img/dungeons.jpg" alt="Generic placeholder image"
            style="width: 300px;">
        <div class="text-center">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload picture</label>
                    <input type="file" class="form-control-file ml-5" id="exampleFormControlFile1">
                </div>
            </form>
        </div>


    </div>
    <div class="col-sm-8">
        <div class="lib-edit-right">

            {% for key in attributes %}
            <div class="row">
                <div class="col-sm-6">
                    <span class="mr-5">
                        <h5 class="text-uppercase"> {{ key }}</h5>
                        <p> {{ attributes[key] }}</p>
                    </span>
                </div>
                <div class="col-sm-6">
                    <form action="{{ url_for('item_update_attrib', item_id=item.id, attrib_name=key) }}">
                        <button type="button m-2" class="btn btn-primary">Edit</button>
                    </form>
                </div>


            </div>
            <hr>
            {% endfor %}

            <div class="row">
                <div class="col-sm-6">
                    <span class="mr-5">
                        <h5>TAGS: </h5>
                    </span>
                </div>
                <div class="col-sm-6">
                    {% for tag in item['tags'] %}
                    <p>
                        {% for found_tag in tags_collection.find( {"_id": tag['tag_id']} ) %}
                        {{ found_tag['name'] }}

                    </p>
                    <form action="{{ url_for('item_remove_tag', item_id=item_id, tag_name =found_tag['name']) }}">
                        <button type="button m-2" class="btn btn-outline-dark shadow-sm">
                            Delete
                        </button>
                    </form>
                    {% endfor %}
                    {% endfor %}
                    {{ wtf.quick_form(form)}}
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <span class="mr-5">
                        <h5>IMPLIED TAGS: </h5>


                    </span>

                </div>
                <div class="col-sm-6">
                    {% for tag in item['implied_tags'] %}
                    <p>
                        {% for found_tag in tags_collection.find( {"_id": tag['tag_id']} ) %}
                        {{ found_tag['name']}}
                        {% endfor %}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <hr>


        </div>


        <br>
        <form action="{{ url_for('lib') }}">
            <button type="button m-2" class="btn btn-primary">Back to library page</button>
        </form>
        <br>

    </div>

</div>



{% endblock %}