{% extends "admin-layout.html" %}

{% block body %}

<main class="container pt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="pb-3 text-center">
                <br>
                <h3>Library Management</h3>
            </div>
            <form action="#" method="get">
                <div class="input-group mb-5">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">search</button>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-3"></div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content" id="nav-tabContent">


                <div class="card mb-5">
                    <div class="card-header">Unigames library</div>
                    <div class="card-block p-0">
                        <table class="table table-bordered m-0 table-list-search">
                            <thead class="">
                                <tr>
                                    <th>Title</th>
                                    <th>Attributes</th>
                                    <th>Tags</th>
                                    <th>Instances</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>
                                        <a href= "{{ url_for('lib_edit', item_id = item['_id']) }}" >{{ item['attributes']['name'] }}</a>
                                    </td>
                                    <td style="width: 30%;">{% for attrib in item['attributes'] %}
                                        <span class="badge badge-pill badge-info ">{{ item['attributes'][attrib] }}</span> 
                                        {% endfor %}
                                    </td>
                                    <td> 
                                        {% for tags in item['tags'] %}
                                        <!--Need to fill in tags-->
                                        {% endfor %}
                                    </td>
                                    <td>1</td>
                                    <td><a href="{{ url_for('lib_edit', item_id = item['_id']) }}">Edit</a>
                                        <a>/</a>
                                        <a href="{{ url_for('lib_delete', item_id = item['_id']) }}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer p-0">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mt-3 mr-3">
                                <form action="{{ url_for('lib_add') }}">
                                    <button type="button m-2" class="btn btn-primary" >add an item</button>
                                </form>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}