{% extends "admin-layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

{% for attrib in attrib_collection.find() %}
<h5>
    {{ attrib['attribute_name'] }}
</h5>
<p>Attribute type:</p>
    {% if attrib['attribute_type'] == 1 %}
        <p>Single-line String</p>
    {% elif attrib['attribute_type'] == 2 %}
        <p>Multi-line String</p>
    {% elif attrib['attribute_type'] == 3 %}
        <p>Integer</p>
    {% endif %}
    <form action="{{ url_for('delete_attribute', attrib_name=attrib['attribute_name']) }}">
        <button type="button m-2" class="btn btn-outline-dark shadow-sm" >
            Delete            
        </button>
    </form>
    <br>
    <hr>
{% endfor %}
<form action="{{ url_for('create_attribute') }}">
    <button type="button m-2" class="btn btn-outline-dark shadow-sm" >
        Create a new attribute               
    </button>
</form>
{% endblock %}