{% extends "final-admin-layout.html" %}



{% block body %}
<div class="pb-3 text-center">
    <br>
    <h3>All Tags</h3>
    <p class="mb-4">This page shows all tags existing in the system.</p>
</div>

<div class="row">
    <div class="col-sm text-center">

        <div class="row">
            <div class="col-sm text-center">
                {% for tag in tags_collection.find() %}
                <form action="{{ url_for('edit_tag', tag_name = tag['name']) }}" style="display:inline">
                    <button type="button m-2" style="margin-bottom: 7px; margin-right: 5px;"
                    class="btn btn-outline-dark shadow-sm"> {{ tag['name'] }}</button>
                </form>

                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}