{% extends "layout.html" %}
{%block head %}
{{ super() }}
{% endblock %}

{% block title%} 
Committee
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="committee_body">
    <h1>The Unigames Committee</h1>
    <br>
    <h2>Committee 2020</h2>
    <br>
    <p>
        <b>President</b>
        <br>
        Alistair Langton
    </p>
    <p>
        <b>Vice President</b>
        <br>
        Taylor Home
    </p>
    <p>
        <b>Treasurer</b>
        <br>
        Jackie Shan
    </p>
    <p>
        <b>Secretary</b>
        <br>
        Autumn Brough
    </p>
    <p>
        <b>Librarian</b>
        <br>
        Emerald Aindow
    </p>
    <p>
        <b>Fresher Rep</b>
        <br>
        Alice Rosario
    </p>
    <p>
        <b>Ordinary Committee Members</b>
        <br>
        Ashleigh Saringer
        <br>
        Joshua Moncaster
        <br>
        Guinevere Sellner
        <br>
        Kyle Barrow

    </p>
    <p>
        <b>Immediate Past President</b>
        <br>
        Alaura Evans
    </p>
</div>
{% endblock %}