{% extends "final-public-layout.html" %}

{% block title%}
Committee
{% endblock %}

{% block head %}
<style>
    h1.title {
        font-size: x-large;
        margin-bottom: 1ex;
        text-align: center;
    }

    h2.section {
        font-weight: bold;
        font-size: x-large;
        margin-top: 1.3ex;
        margin-bottom: 0.7ex;
        text-align: left;

    }

    ol.enumerate {
        margin-top: 0.7ex;
        margin-bottom: 0.7ex;
        margin-left: 3ex;
        text-align: left;

    }

    div.standard {
        margin-bottom: 2ex;
    }

    dl.description dt {
        font-weight: bold;
    }
</style>
{% endblock %}




{% block body%}
<div class="container">
    <div class="card border-0 shadow my-5">
        
        <div class="card-body p-5">
            <h3>2020 Committee</h3>
            <p>
                <b>President</b>
                <br>
                Alistair Langton
            </p>
    <p>
        <b>Vice President</b>
        <br>
        Taylor Home
    </p>
    <p>
        <b>Treasurer</b>
        <br>
        Jackie Shan
    </p>
    <p>
        <b>Secretary</b>
        <br>
        Autumn Brough
    </p>
    <p>
        <b>Librarian</b>
        <br>
        Emerald Aindow
    </p>
    <p>
        <b>Fresher Rep</b>
        <br>
        Alice Rosario
    </p>
    <p>
        <b>Ordinary Committee Members</b>
        <br>
        Ashleigh Saringer
        <br>
        Joshua Moncaster
        <br>
        Guinevere Sellner
        <br>
        Kyle Barrow

    </p>
    <p>
        <b>Immediate Past President</b>
        <br>
        Alaura Evans
    </p>
    <p> To contact committee, email to <a href="mailto:uwaunigames@gmail.com"> uwaunigames@gmail.com </a> <br>
        Alternatively, email to <a href="mailto:unigames-owner@ucc.gu.uwa.edu.au">unigames-owner@ucc.gu.uwa.edu.au</a></p>
        <p>Thanks to everone who came to the AGM to elect the new committee, and the many absentee votes of those that didn't come.<br>
            We'll do our best to make 2020 a good year for Unigames.</p>
    </div>
    </div>

</div>
{% endblock %}