{% extends "final-public-layout.html" %}

{% block title%} 
Contact Us
{% endblock %}




{% block body%}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div style = margin:25px id="bodytext">
                <h1>Contact Us</h1>
                <hr>
                <br>

                <h2>Facebook</h2>

                <p>By far the most popular way for club members to stay in touch electronically is though the club Facebook group.</p>
                <a href="https://www.facebook.com/groups/uwa.unigames/">Join it today!</a>
                <br>

                <p>
                    The Facebook group is intended for club members: it is a great place to discuss your games, recruit players, and generally chat. All events are 
                    publicised though this group (though not necessarily exclusively).
                </p>

                <h2>Email us</h2>

                <p>To contact us with any questions or comments please email:<a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a></p>

                <h2>The Unigames Mailing List</h2>

                <p>Unigames has a mailing list which is used by the committee to communicate important information to 
                    the members. It is recommended that all members join the list.
                </p>
                <p>
                    To join the mailing list you will first need an email account. Luckily these are now easy to come by:
                    <ul>
                        <li>
                            No-frills Method
                            <br>
                            Send an email to <a  href="mailto:unigames@ucc.gu.uwa.edu.au">unigames@ucc.gu.uwa.edu.au</a> with 
                            just the word "subscribe" (again, no brackets) in the subject or body. Well done.
                        </li>
                        <li>
                            WWW Method
                            <br>
                            Visit <a href="https://lists.ucc.gu.uwa.edu.au/mailman/listinfo/unigames">our online subscription manager.</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}