
{% extends "final-public-layout.html" %}

{% block title%} 
Life Members
{% endblock %}

{% block body%}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div id="bodytext">
                <h1>Honorary Life Members<br></h1>
                
                
                <p>For outstanding contributions to the club, a member may be awarded with Life Membership</p>
                <p><b>Peter Brian Williams</b>: Awarded in 1984</p>
                <p><b>Leonard Goulds</b>: Awarded on the 5th of March 2013</p>
                <p><b>Lyndon 'Frames' White</b>: Awarded on the 15th of April 2015</p>
                
                
                
                </div>
</div>
</div>
</div>
{% endblock %}