{% extends "final-public-layout.html" %}

{% block title%}
Operations
{% endblock %}

{% block body%}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div id="bodytext">
                <h1>Operations</h1>
                Collected here is various information for the use of future and current committees.

                <h2>Documents</h2>

                <h3>Constitution</h3>
                <a href="opdocs/consitution/">Here</a> are multiple different formats of our constitution, drafted circa
                2015.

                <h3>Regulations</h3>
                Want to know all of the rules that committee makes? View the regulations <a
                    href="regulations.php">here</a>.

                <h3>Minutes</h3>
                The records of committee meetings can be viewed (in both pretty form and plain-text form) <a
                    href="minutes.php">here</a>.

                <h3>Logos</h3>
                Like all things, our original logo files have been lost.
                Roland Kerr remastered our logo, from the logo from this website in 2011. <br>
                This dragon has been our logo since time before remembering. <br>
                So that it is never lost again you can download verious versions of the dragon <a
                    href="opdocs/logos/">here</a>.

                <h3>Membership Forms</h3>
                Being able to print more membership forms from any computer, is something we can do now. Forms available
                online are:
                <ul>
                    <li><a href="opdocs/membershipforms/A4.pdf"> A4 form </a></li>
                    <li><a href="opdocs/membershipforms/2A5onA4.pdf">2x A5 forms on a A4 page</a></li>
                    <li><a href="opdocs/membershipforms/editable.odt">Editable A4 form on a A4 page (odt)</a></li>
                </ul>
                Don't forget to collect your membership card from committee when you hand your from in.

                <h2>Archives</h2>
                Some attempts have been made to archives various things. That committee in the future might find them
                useful.
                The archives are simply updated and editted, the same way as anything else on this website. If you don't
                know how <a href="#website">see instructions below</a>.
                <p>
                    The <a href="opdocs/archive">Main Archive is here</a>. It contains thing which are not useful enough
                    to be on this operations page (eg logos, membership forms), but which may be wanted in the future
                    (Eg Evant Management Plans).
                </p>
                <p>
                    The <a href="opdocs/black_archives">Black Archives</a> contain things that which are considered
                    confidential. They are mostly empty.
                    It is better to clean sensitive information and store it in the normal archive, than to store in in
                    the black.
                    E.g. Remove phone numbers and addresses from membership lists. </p>
                <p>
                    It is only vaguely secure. Do not store truely sensitive things in it. The password is sent in plain
                    text.
                    The password for the black archive can modified/reset by <a
                        href="www.htaccesstools.com/htpasswd-generator/"> messing with the .htpasswd file</a>. The
                    password is not needed if you have access to the the server (which you do when uploading content.)


                </p>
                <h2>Computerised Systems</h2>
                Unigames maintains a number of online systems. On occasion committee forgets how to use them. Here is
                what to do when that happens:

                <h3>LibraryThing</h3>
                Unigames has a paid lifetime account with <a
                    href="https://www.librarything.com/profile/Unigames">LibraryThing</a>. <br>
                The username is "Unigames". If the password is forgotten then
                LibraryThing "Forgot Password" is tied to the <a
                    href="mailto:unigames-committee[@]guild[.]uwa[.]edu[.]au"> unigames-committee</a><a> email alias.

                    <h3>Committee Email Alias.</h3>
                    The </a><a href="mailto:unigames-committee[@]guild[.]uwa[.]edu[.]au"> unigames-committee</a> is an
                alias that should send an email to all committee members. The other aliases are: unigames-president,
                unigames-vp, unigames-treasurer, unigames-secretary, unigames-librarian, unigames-fresherrep,
                unigames-ocms (for all 3), and unigames-ipp.<br>
                The unigames-committee is an alias for send to all these aliases.<br>
                The president, vice-president, treasurer and secretary aliases are automatically updated after the
                office bearers forms are submitted.
                The other aliases must be updated manually. Send an email to: <a
                    href="mailto:ithelp-guild@uwa.edu.au">ithelp-guild@uwa.edu.au</a> giving the new addresses for the
                committee members. Note: they will only accept UWA email addresses.

                <h3>Mailing List</h3>
                Unigames has a mailing list. It isn't popular. Facebook is popular. <br>
                One of the reasons Unigames Mailing list is unpopular, is because the moderation, and administartion
                passwords are oftenforgotten. When this occurs contact: <a
                    href="mailto:ithelp-guild@uwa.edu.au">ithelp-guild@uwa.edu.au</a>to have it reset. Learning to
                control it is another matter.

                <h3 id="website">Website</h3>
                This is our website. <br>
                It is almost certain the no-one on the current committee knows how to edit it. <br>
                Contact <a href="mailto:ithelp-guild@uwa.edu.au">ithelp-guild@uwa.edu.au</a> to get the access to the
                guild ftp server. <br>
                Again, learning to edit the webpage is another matter.

                <h2>Our Stuff:</h2>
                We have stuff, don't break it.
                <h3>Air Conditioner</h3>
                We have a sweet Air Con. When it's hot, you can come to the clubroom where it's not.
            </div>
        </div>
    </div>
</div>
{% endblock %}