{% extends "admin-layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <style>
        #div1 {
            margin: 10px;
            font-size: 1.25em;
        }

        table {
            border-collapse: collapse;
            border: 1px solid #7f7f7f;
        }

        td {
            border: 1px solid #7f7f7f;
            width: 50px;
            height: 50px;
            text-align: center;
        }
    </style>
</head>

{% block body %}
<main class="container pt-5">
    <h3>Welcome, {{ current_user.first_name }} !</h3>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

                {{ wtf.quick_form(form)}}
            <div class="row">
                {{result}}
            </div>


            <div class="row">
                <div class="my-3 p-3 card bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0"><b>Search syntaxes</b></h6>
                    <div class="media pt-3">
                      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">tagA, tagB, tagC</strong>
                        A comma separated list of tags is logical equivalent to:
                        has_tag(tagA) && has_tag(tagB) && has_tag(tagC)
                      </p>
                    </div>
                    <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">A really long tag, short, another tag</strong>
                          Tags can freely have spaces in them, but are always trimmed, that is no preceding or leading tags
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">ThIs Is A LogIcAL tAG</strong>
                          Tags are all converted to lower case, so casing doesn't matter
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">{tagA,B}, tagB</strong>
                          If a tag's name contains a comma, to correctly search it you must surround the tag in {}
                          There for: NO TAGS CAN CONTAINS '{' or '}'
                          I believe this restriction to be reasonable, and allows for greater control
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">tagA ::and tagB</strong>
                          Explict && (and) operator instead of the implicit and of commas
                          '::' will be the start of numerous operators, therefore:
                          '::' SHOULD BE AVOIDED IN TAGS
                          However if needed see:
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">{tagA::B} ::and tagB</strong>
                          If your tag contains '::', then you need to wrap it in {}, note
                          if you tag contains ':::', that is 3 or more ':' in a row, then this doesn't matter
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">tagA ::or tagB</strong>
                          ::or is A logical || (or) operator
                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">tagA ::and ::not tagB</strong>
                          ::not is the unitary ! (not) operator

                        </p>
                      </div>
                      <div class="media pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <strong class="d-block text-gray-dark">tagA ::& (tagB ::| ::! tagC)</strong>
                          Alternate forms of operators
                        </p>
                      </div>
                    <small class="d-block text-right mt-3">
                      <a href="#">All syntaxes</a>
                    </small>
                  </div>

            </div>
        </div>





</main>

<div id="div1"></div>


{{ table }}





{% endblock %}

</html>