{% extends "layout.html" %}
<!--Inherit basic layout & elements from the layout.html-->
{%block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Unigames!</h1>
        <p>
            Unigames is the table-top gaming club at the University of Western Australia.
            We do roleplaying, wargaming, board and card gaming and indeed gaming in all forms.
            Whether it's D&D, Magic the Gathering, Warhammer 40K, or any of our dozens of other systems and games,
            we've got you covered.
        </p>
        <p><a class="btn btn-warning btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>


<main role="main" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Play</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Drop by and play</a>
            </h3>
            <div class="mb-1 text-muted">with your favourite friends</div>
            <p class="card-text mb-2">For a start, Unigames is located above the UWA Tavern. If you don't know where
              that is, just ask anyone you can find, wandering anywhere on campus.</p>
            <a href="#">Find a map >></a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" src="{{ url_for('static', filename='img/play.jpg', _external=True) }}" alt="Thumbnail"
            data-holder-rendered="true"
            style="width: 200px; height: 250px;  background-size: cover; object-fit: cover; background-repeat: no-repeat;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Join</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Become a member</a>
            </h3>
            <div class="mb-1 text-muted">Borrow & Enjoy Discounts</div>
            <p class="card-text mb-2">One of the benefits of Unigames membership is a 10% discount on all materials at
              Tactics, Perth's premier gaming supply store. </p>
            <a href="#">Find out more >></a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" src="{{ url_for('static', filename='img/join.jpeg', _external=True) }}" alt="Thumbnail [200x250]"
            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_173ccc54179%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_173ccc54179%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2255.6015625%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            data-holder-rendered="true"
            style="width: 200px; height: 250px;  background-size: cover; object-fit: cover; background-repeat: no-repeat;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 padded-right-container">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Announcements</h4>
          <p>One of the benefits of Unigames membership is a 10% discount on all materials at Tactics, Perth's premier
            gaming supply store. Just show your membership card when you go to pay for things.</p>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h5 class="border-bottom border-gray pb-2 mb-0">Popular games</h5>
          <div class="media text-muted pt-3">
            <img class="bd-placeholder-img mr-4 rounded" width="60" height="80"
              src="{{ url_for('static', filename='img/games/stars-without-number.jpg', _external=True) }}">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Stars Without Number</strong>
              <b>Rating: </b> 4.8 <br>
              <b>Aurthor:</b> Kevin Crawford <br>
              <b>Tags: </b> RPG, Wargame
            </p>
          </div>

          <div class="media text-muted pt-3">
            <img class="bd-placeholder-img mr-4 rounded" width="60" height="80" src="{{ url_for('static', filename='img/games/dungeons.jpg', _external=True) }}">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Dungeons and Dragons</strong>
              <b>Rating: </b> 4.6 <br>
              <b>Aurthor:</b> David Miller <br>
              <b>Tags: </b> RPG, Dungeons and Dragons, Dungeons and Dragons IV, Codex
            </p>
          </div>
          <div class="media text-muted pt-3">
            <img class="bd-placeholder-img mr-4 rounded" width="60" height="80" src="{{ url_for('static', filename='img/games/pulp-cthulhu.jpg', _external=True) }}">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Pulp Cthulhu</strong>
              <b>Rating: </b> 4.5 <br>
              <b>Aurthor:</b> Bob Tale <br>
              <b>Tags: </b> Pulp Cthulhu
            </p>
          </div>
          <small class="d-block text-right mt-3">
            <a href="#">View Library >></a>
          </small>
        </div>
      </div>
      <div class="col-md-3 right-menu">

        <div class="container">
          <div class="row row-striped">
            <div class="col-2 text-right">
              <p>
                <h5 class="display-5"><span class="badge badge-secondary">23</span></h5>
                <h6>OCT</h6>
              </p>
            </div>
            <div class="col">
              <h5 class="text-uppercase"><strong>Unigames Fresher Welcome</strong></h5>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
              </ul>
              <p>This event is meant to get new members involved with the club and make them feel at home, so if you're
                a newbie come along and learn what it's all about! Free pizza for freshers.</p>
            </div>
          </div>
          <div class="row row-striped">
            <div class="col-2 text-right">
              <p>
                <h5 class="display-5"><span class="badge badge-secondary">23</span></h5>
                <h6>OCT</h6>
              </p>
            </div>
            <div class="col">
              <h5 class="text-uppercase"><strong>Unigames Fresher Welcome</strong></h5>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
              </ul>
              <p>This event is meant to get new members involved with the club and make them feel at home, so if you're
                a newbie come along and learn what it's all about! Free pizza for freshers.</p>
            </div>
          </div>
        </div>


      </div>

      <br>

      <footer class="container">
        <p>© Unigames</p>
      </footer>
{% endblock %}