<!--This is the layout file that sets the fundation for other webpages-->
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!---CSS file (stored in static folder)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title%} {% endblock %} - Unigames Gaming Club</title>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <div class="d-flex flex-column bg-warning border-bottom shadow-sm">
        <nav class="navbar navbar-expand-md navbar-light">
            <div>
                <a class="navbar-brand" href= {{ url_for('index') }}>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" height="70" alt="Unigames gaming club">
                </a>
            </div>
            <!--<div class="logo-right">
                <a class="navbar-brand" href={{ url_for('index') }}>
                    <img src="{{ url_for('static', filename='img/logo-uwa.png') }}" height="50" alt="Unigames gaming club">
                </a>
            </div>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item p2">
                        <a class="nav-link" href= {{ url_for('login') }}><b>Login</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="nav-scroller bg-light shadow-sm">
        <nav class="nav nav-underline justify-content-center">
            <a class="nav-link active" href={{ url_for('index') }}><b>Home</b></a>
            <a class="nav-link" href={{ url_for('library') }}>Library</a>
            <!--<a class="nav-link" href={{ url_for('events') }}>Events</a>-->
            <a class="nav-link" href={{ url_for('join') }}>Become a member</a>
            <a class="nav-link" href={{ url_for('committee') }}>Committee</a>
            <a class="nav-link" href={{ url_for('lifeMembers') }}>Life Members</a>
            <a class="nav-link" href={{ url_for('constitution') }}>Constitution</a>
            <a class="nav-link" href={{ url_for('operations') }}>Operations</a>
            <!--<a class="nav-link" href="https://webcam.ucc.asn.au/">Webcam</a>-->
        </nav>
    </div>

    {% endblock %}

    {% block body %}
    {% endblock %}
</body>